html {
	font-family: 'Advent Pro', sans-serif;
	font-size: 16px;
	height: 100%;
}

body {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

a {
	color: white;
	text-decoration: none;
}
.header {
	background-color: black;
	color: white;
	height: 60px;
	padding: 20px 0;
	width: 100%;

	
}

.current {
	color: yellow;
}

.nav {
	margin: 0;
	float: left;
	text-align: right;
	width: 760px;

}

.logo {
	float: left;
	font-size: 36px;
	text-align: center;
	width: 200px; 
}

ul.navlist {
	font-size: 24px;
	height: 100%;
	list-style: none;
	margin: 0;
	padding-top: 10px;
	vertical-align: middle;
}

ul.navlist li {
	display: inline;
	margin-right: 40px;
}

ul.navlist li a:hover {
	color: red;
}

.container {
	background-color: #D5D1C5;
	height: auto;
	margin: auto;
	min-height: 100%;
	width: 100%;
}

.image {
	background-image: url("webImage600.png");
	background-repeat: no-repeat;
	bottom: 50px;
	float: left;
	height: 598px;
	position: absolute;
	width: 264px;
}

.text {
	float: left;
}

.container:after {
	width: 100%;
	height: 150px;
	display: block;
	clear: both;
}

.footer {
	background-color: black;
	color: white;
	width: 100%;
	height: 150px;
	margin: -150px auto 0;
}
